* {
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar-brand img {
  height: 60px;
}
.navbar-brand div p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
}
.navbar-scrolled {
  border-bottom: 5px solid #01a44e;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #01a44e;
}

/* Hero */
.carousel-item img {
  height: 700px;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* Tentang Kami */
#tentang-kami {
  background-color: #f9f9f9;
}
.tentang-kami-left h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.tentang-kami-left p {
  color: #8f8f8f;
}

.btn-berkas {
  color: white;
  background-color: #01a44e;
  border: none;
  padding: 8px 24px;
}
.btn-brosur {
  color: #01a44e;
  background-color: transparent;
  border: 1px solid #01a44e;
  padding: 8px 24px;
}

.tentang-kami-right {
  padding: 24px;
}

.tentang-kami-card {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  text-align: center;
}

.tentang-kami-card h1 {
  font-weight: bold;
}
.tentang-kami-card p {
  color: #8f8f8f;
}

.jurusan {
  margin-top: 50px;
}
.jurusan div {
  row-gap: 24px;
  column-gap: 36px;
  color: #8f8f8f;
}

/* Visi & Misi */

.visi .box {
  margin-top: 20px;
  border: 1px solid #eaeaea;
  padding: 12px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.visi .box:hover {
  background-color: #eaeaea;
}

.misi .box {
  margin: 20px 0;
}

.misi .box:last-child {
  margin-bottom: 0;
}

.misi .box .box-number {
  width: 32px;
  height: 32px;
  border: 1px solid #eaeaea;
  flex-shrink: 0;
  transition: 0.3s;
}

.misi .box .box-text {
  padding: 12px;
  border: 1px solid #eaeaea;
  transition: 0.3s;
}

.misi .box:hover .box-number,
.misi .box:hover .box-text {
  background-color: #eaeaea;
}

/* Galeri */
#galeri {
  background-color: #f9f9f9;
}

.galeri-box {
  row-gap: 20px;
}

.galeri-item img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Kontak */
.kontak-box .kontak-input input,
.kontak-box .kontak-input textarea {
  width: 100%;
  outline: none;
  color: #8f8f8f;
  border: 1px solid #8f8f8f;
  padding: 10px 16px;
}
.kontak-box .kontak-input input:focus,
.kontak-box .kontak-input textarea:focus {
  color: #01a44e;
  border: 1px solid #01a44e;
}

.btn-kontak {
  width: 100%;
  background-color: #01a44e;
  color: white;
  padding: 10px;
  border: none;
}

.map {
  height: 270px;
  width: 100%;
}
.info .item {
  margin-bottom: 36px;
}
.info .item i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color: #f9f9f9;
  color: #01a44e;
  transition: 0.3s;
}

.info .item:hover i {
  color: white;
  background-color: #01a44e;
}

.info .item h4 {
  font-size: 28px;
  font-weight: 600;
}

.info .item p {
  color: #8f8f8f;
  font-size: 14px;
  margin-top: -6px;
}

/* Footer */
#footer {
  background-color: #f9f9f9;
}

/* General */
section {
  padding: 60px 12px;
  scroll-margin-top: 85px;
}

.title {
  background: #01a44e;
  color: white;
  padding: 6px 32px;
  border-radius: 50px;
  width: fit-content;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-bottom: 12px;
}
.subtitle {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
}

.shadow-card {
  box-shadow: 0 15px 25px -5px rgb(0 0 0 / 0.1), 0 0px 10px -6px rgb(0 0 0 / 0.1);
}

footer {
  padding: 20px 12px;
  border-top: 4px solid #01a44e;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 24px;
  }
  .navbar-brand img {
    height: 50px;
    width: 40px;
  }
  .btn-berkas,
  .btn-brosur {
    flex: 1 1 0%;
  }

  .info .item h4 {
    font-size: 20px;
  }
}
